@page
@model SinglePage<StandardPage>
@{
    ViewData["Title"] = !string.IsNullOrEmpty(Model.Data.MetaTitle) ? Model.Data.MetaTitle : Model.Data.Title;
    var hasImage = Model.Data.PrimaryImage.HasValue;
}
@section head {
    @WebApp.MetaTags(Model.Data)
}
<style>
    .has-image {
        height: 60vh !important;
        min-height: 250px !important;
    }
    .text-center-header {
        height: 100% !important;
    }
</style>
<header @(hasImage ? "class=has-image" : "") @(hasImage ? $"style=background-image:url({ @Url.Content(WebApp.Media.ResizeImage(Model.Data.PrimaryImage, 1920, 400)) })" : "")>
    <div class="dimmer" style="display: flex;"></div>
    <div class="container text-center text-center-header" style="display: flex !important; flex-flow: column; justify-content: center; align-items: center">
        <h1 >@Model.Data.Title</h1>
        @if (!string.IsNullOrWhiteSpace(Model.Data.Excerpt))
        {
            <div class="row justify-content-center">
                <div class="col-lg-8 lead">
                    @Html.Raw(Model.Data.Excerpt)
                </div>
            </div>
        }
    </div>
</header>

<main style=" margin: 0 auto;">
    @foreach (var block in Model.Data.Blocks)
    {
        <div class="block @block.CssName()">
            <div class="container">
                @Html.DisplayFor(m => block, block.GetType().Name)
            </div>
        </div>
    }
</main>

