@model Piranha.Extend.Blocks.PostBlock

@if (Model.Body.Post != null)
{
    <div style="cursor: pointer;background-color:#fafafa" onclick="@("window.location.href='" + @WebApp.Url(Model) + "'");" class="card">
        @if (Model.Body.Post.PrimaryImage.HasValue)
        {
            <img class="card-img-top" style="object-fit:contain" src="@Url.Content(Model.Body.Post.PrimaryImage)">
            
        }
        <div  class="card-body">
            <h5>@Model.Body.Post.Title</h5>
            <p>@Html.Raw(Model.Body.Post.Excerpt)</p>
        </div>
    </div>
}

